@{
    ViewBag.Title = "PlayNow";
}

<iframe src="https://play.pokemonshowdown.com/teambuilder" class="showdown"></iframe>
<span class="showdown">Source:</span>
    <a class="showdown" href="https://play.pokemonshowdown.com" target="_blank">https://play.pokemonshowdown.com</a>
<div style="width:3.2%;position:absolute;height:100vh;z-index:1;background-color:white;top:0;right:0;display:block;"></div>
<br/>
<script>
    document.getElementById("act2").style.textDecoration = "underline";
</script>
