
@{
    ViewBag.Title = "Error400";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2 style="text-align:center;font-size:7vw">Error 400</h2>
    <br />
    <h6 style="text-align:center">Bad Request</h6>
    <a href="/Pokedex/ID/129"><img style="margin-bottom:7vh;margin-bottom:2vh;margin-left:24vw;text-align:center;height:30vw" src="~/img/magikarp.png" /></a>
    <div style="margin-bottom:3vh;text-align:center">
        <span style="font-size:0.8vw">Source:</span>
        <a style="font-size:0.8vw;" href="https://silverfire505.deviantart.com/art/Magikarp-used-Splash-417396329" target="_blank">https://silverfire505.deviantart.com/art/Magikarp-used-Splash-417396329</a>
    </div>
</div>
